.container{
            padding: 20px;
            background-color: #0f0;
            display: grid;
            grid-template:  1fr 1fr / 1fr 1fr 1fr;
            grid-gap: 20px;
        }
        .item {
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(188, 244, 188);
        }